{% extends "base.html" %} {% block title %}Intégrateur{% endblock %}
{% block contenu %}
<h5>Bienvenue sur la page d'accueil d'intégrateur</h5>
<p>Ce site a pour but</p>
{% endblock contenu %}
{% block footer %}
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Qui sommes nous ?</h5>
        <p class="grey-text text-lighten-4">
          Nous sommes des personnes souhaitant optimiser le fonctionnement des
          automatismes dans le domaine du bâtiment.
        </p>
      </div>
      <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="white-text" href="mailto:ajourjon@mailo.com">ajourjon@mailo.com</a></li>
            <li><a class="white-text">127 bd Richard Lenoir</a></li>
            <li><a class="white-text">75011 Paris</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright"></div>
</footer>
{% endblock footer %}
